.height-75 {
  height: 75px;
}
.navbar {
  z-index: 999;
  font-family: $header-font;
  position: fixed;
  width: 100%;
  border-radius: inherit;
  height: 75px;
  margin-bottom: 0px;
  border-bottom: 2px solid #eee;
  background: white;

  ul {
    margin: 1em 0 0 0;
    font-size: 13px;
  }

  .container-fluid {
    padding-right: 3%;
    padding-left: 3%;
  }
  .navbar-right {
    margin-right: 0 !important;
  }

  .navbar-header {
    margin-top: 8px;
    margin-left: 14px;
  }

  img {
    height: 30px;
  }
  a {
    color: #d4dee4;
  }
  a:hover, a:focus {
    background: none !important;
  }

  .active {
    color: $green !important;
  }

  li {
    letter-spacing: 1.5px;
    cursor: pointer;
  }

  .navbar-toggle {
    margin-top: 20px;
  }
}
.icon-bar {
  border: 1px solid $base-color;
}

.in {
  background: rgb(248, 248, 248);
}

.navbar-fixed-top {
  top: -70px; /* you'll have to figure out the exact number here */
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}
